<?xml version="1.0" encoding="UTF-8"?>
<context type="TechDivision\Application\Application">

    <classLoaders>
        <classLoader
            name="composer"
            type="TechDivision\ApplicationServer\ComposerClassLoaderFactory">
            <directories>
                <directory>/vendor</directory>
            </directories>
        </classLoader>
        <classLoader
            name="pbc"
            type="TechDivision\ApplicationServer\PbcClassLoaderFactory">
            <params>
                <param name="environment" type="string">production</param>
                <param name="enforcementLevel" type="integer">7</param>
                <param name="typeSafety" type="boolean">1</param>
                <param name="processing" type="string">logging</param>
            </params>
            <directories>
                <directory enforced="true">/WEB-INF/classes</directory>
                <directory enforced="true">/META-INF/classes</directory>
            </directories>
        </classLoader>
    </classLoaders>

    <managers>
        <manager name="dic" type="TechDivision\ApplicationServer\DependencyInjectionContainerFactory"/>
        <manager name="handler" type="TechDivision\WebSocketServer\HandlerManagerFactory"/>
        <manager name="bean" type="TechDivision\PersistenceContainer\BeanManagerFactory">
            <!-- params>
                <param name="lifetime" type="integer">1440</param>
                <param name="garbageCollectionProbability" type="float">0.1</param>
            </params -->
        </manager>
        <manager name="queue" type="TechDivision\MessageQueue\QueueManagerFactory"/>
        <manager name="servlet" type="TechDivision\ServletEngine\ServletManagerFactory"/>
        <manager name="session" type="TechDivision\ServletEngine\StandardSessionManagerFactory"/>
        <manager name="timerservice" type="TechDivision\PersistenceContainer\TimerServiceRegistryFactory"/>
        <manager name="authentication" type="TechDivision\ServletEngine\Authentication\StandardAuthenticationManagerFactory"/>
    </managers>

</context>