<?xml version="1.0" encoding="UTF-8"?>
<context type="TechDivision\Application\Application">
    
    <classLoaders>
        <classLoader
            name="composer"
            type="TechDivision\ApplicationServer\ComposerClassLoader"
            factory="TechDivision\ApplicationServer\ComposerClassLoaderFactory">
            <directories>
                <directory>/vendor</directory>
            </directories>
        </classLoader>
        <classLoader
            name="pbc"
            type="TechDivision\ApplicationServer\PbcClassLoader"
            factory="TechDivision\ApplicationServer\PbcClassLoaderFactory">
            <params>
                <param name="environment" type="string">production</param>
                <param name="enforcementLevel" type="integer">7</param>
                <param name="typeSafety" type="boolean">1</param>
                <param name="processing" type="string">logging</param>
            </params>
            <directories>
                <directory enforced="true">/WEB-INF/classes</directory>
                <directory enforced="true">/META-INF/classes</directory>
            </directories>
        </classLoader>
    </classLoaders>

    <managers>
        <manager name="Provider" beanInterface="ProviderInterface" type="TechDivision\DependencyInjectionContainer\Provider" factory="TechDivision\DependencyInjectionContainer\ProviderFactory"/>
        <manager name="HandlerManager" beanInterface="HandlerContext" type="TechDivision\WebSocketServer\HandlerManager" factory="TechDivision\WebSocketServer\HandlerManagerFactory"/>
        <manager name="BeanManager" beanInterface="BeanContext" type="TechDivision\PersistenceContainer\BeanManager" factory="TechDivision\PersistenceContainer\BeanManagerFactory">
            <!-- params>
                <param name="lifetime" type="integer">1440</param>
                <param name="garbageCollectionProbability" type="float">0.1</param>
            </params -->
        </manager>
        <manager name="QueueManager" beanInterface="QueueContext" type="TechDivision\MessageQueue\QueueManager" factory="TechDivision\MessageQueue\QueueManagerFactory"/>
        <manager name="ServletManager" beanInterface="ServletContext" type="TechDivision\ServletEngine\ServletManager" factory="TechDivision\ServletEngine\ServletManagerFactory"/>
        <manager name="StandardSessionManager" beanInterface="SessionManager" type="TechDivision\ServletEngine\StandardSessionManager" factory="TechDivision\ServletEngine\StandardSessionManagerFactory"/>
        <manager name="TimerServiceRegistry" beanInterface="TimerServiceContext" type="TechDivision\PersistenceContainer\TimerServiceRegistry" factory="TechDivision\PersistenceContainer\TimerServiceRegistryFactory"/>
        <manager name="StandardAuthenticationManager" beanInterface="AuthenticationManager" type="TechDivision\ServletEngine\Authentication\StandardAuthenticationManager" factory="TechDivision\ServletEngine\Authentication\StandardAuthenticationManagerFactory"/>
    </managers>

</context>